@define-color light #F6F8FF;
@define-color dark #272D2D;
@define-color yellow #FFE74C;
@define-color green #01AF75;
@define-color red #FE4A49;

* {
    border: none;
    border-radius: 0;
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: Fira Code,Roboto, Helvetica, Arial, sans-serif;
    font-size: 15px;
    min-height: 0;
}

window#waybar {
    background-color: @dark;
    /*border-bottom: 3px solid rgba(100, 114, 125, 0.5);*/
    color: @light;
    /*transition-property: background-color;*/
    /*transition-duration: .5s;*/
}

window#waybar.hidden {
    opacity: 0.2;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

window#waybar.termite {
    background-color: @dark;
}

window#waybar.chromium {
    background-color: @dark;
    border: none;
}

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: @light;
    border-bottom: 3px solid transparent;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
    box-shadow: inherit;
    border-bottom: 3px solid @light;
}

#workspaces button.focused {
    background-color: @dark;
    border-bottom: 3px solid @yellow;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#mode {
    background-color: #64727D;
    border-bottom: 3px solid @light;
}

#clock,
#battery,
#cpu,
#memory,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#mpd {
    padding: 0 10px;
    margin: 0 4px;
    color: @light;
}

#clock {
    background-color: @dark;
}

#battery {
    background-color: @dark;
    color: @light;
}

#battery.charging {
    color: @light;
    background-color: @dark;
}

@keyframes blink {
    to {
        background-color: @light;
        color: @dark;
    }
}

#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: @light;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #000000;
}

#cpu {
    background-color: @dark;
    color: @light;
}

#memory {
    background-color: @dark;
}

#backlight {
    background-color: @dark;
}

#network {
    background-color: @dark;
}

#network.disconnected {
    background-color: @dark;
}

#pulseaudio {
    background-color: @dark;
    color: @light;
}

#pulseaudio.muted {
    background-color: @dark;
    color: @light;
}

#custom-media {
    background-color: @dark;
    color: @light;
    min-width: 100px;
}

#custom-media.custom-spotify {
    background-color: #66cc99;
}

#custom-media.custom-vlc {
    background-color: #ffa000;
}

#temperature {
    background-color: @dark;
}

#temperature.critical {
    background-color: #eb4d4b;
}

#tray {
    background-color: @dark;
}

#idle_inhibitor {
    background-color: @dark;
}

#idle_inhibitor.activated {
    background-color: @dark;
    color: @light;
}

#mpd {
    background-color: @green;
    color: @light;
}

#mpd.disconnected {
    background-color: @red;
}

#mpd.stopped {
    background-color: #90b1b1;
}

#mpd.paused {
    background-color: #51a37a;
}
